<%= form_with(model: calculation, local: true) do |form| %>
  <% if calculation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>

      <ul>
      <% calculation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% calculation.inputs.list.each do |input| %>
    <div class="field">
      <%= form.label input.last.label %>
      <%= render :partial => "#{input.last.type}", :locals=>{form: form, input: input} %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
