<% input.last.options.each do |option| %>
  <%= form.radio_button "calculation[#{input.first}]", option, checked: option == input.last.value %>
  <%= form.label "calculation[#{input.first}]_#{option}", option %>
<% end %>
