<p id="notice"><%= notice %></p>

<p>
  <strong>Calculation:</strong>
  <%= @calculation.calculation %>
</p>

<%= link_to 'Edit', edit_calculation_path(@calculation) %> |
<%= link_to 'Back', calculations_path %>
